{% if user.is_authenticated %}
    <p class="navbar-form pull-right" style="padding:10px;">Welcome,  {{ user.username }}! - <a href="{% url logout %}">Logout</a></p>
{% else %}
    <ul class="right nav">
        <li class="active">
            <a href="#">Join</a>
        </li>
    </ul>
    <form method="post" action="{% url login %}" class="navbar-form pull-right">
        {% csrf_token %}
        <input class="span2" type="text" name="username" placeholder="Username">
        <input class="span2" type="password" name="password" placeholder="Password">
        <button type="submit" class="btn">Sign in</button>
    </form>
{% endif %}
