

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body                           { font-family: "Arial" !important; }
.clear                         { clear: both; }
form                           { margin: 0; }
.nav.right                     { float: right; }

.no-style-button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0px;
    border: none;
    background: transparent;
}

.login-body{
    margin: 0 auto;
    width: 214px;
}

.login-body input {
    display: block;
    width: 200px;
}

.login-body h2                     { text-align: center; }
.login-body.login-error input      { background-color: #FDD; }
p.login-error                      { color: #960000; font-size: 12px; clear: both; }
.login-body button                 { float: right; }
h4.blocked-message                 { text-align: center; }




/* Desktop page */

    #desktop {}

    /* Lists */
        #desktop article.list {
            background-color: #E6E6E6;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            margin: 20px 0;
            padding: 20px;
        }
        #desktop article.list h1 {
            font-size: 18px;
            line-height: 30px;
            margin: 0;
        }

        #desktop article.list h2 {
            font-size: 12px;
            font-weight: normal;
            line-height: 18px;
            color: #5F5F5F;
        }

    /* Tasks */
        #desktop article.list section.task {
            box-shadow: 0px 1px 3px grey;
            background-color: white;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            margin: 7px 20px;

            /* test */
                color: black;
                max-height: 30px;
                height: auto;
                overflow: hidden;

                -webkit-transition-property: max-height;
                -webkit-transition-duration: 0.3s;

            padding-bottom: 10px;
        }
        p:last-child { margin-bottom: 0px; }

        #desktop article.list section.task-open {
            max-height: 240px;
            -webkit-transition-property: max-height;
            -webkit-transition-duration: 0.3s;
        }

        #desktop article.list section.task .task-moreinfo {
            /*display: none;*/
            color: #5F5F5F;
            font-size: 13px;
            margin: 0 10px;
            max-height: 200px;
            outline: none;
        }

         #desktop article.list section.task h1 {
            line-height: 20px;
            padding: 10px;
            font-weight: normal;
            font-size: 14px;
            cursor: pointer;
            -webkit-transition-property: text-shadow;
            -webkit-transition-duration: 0.3s;
        }
        #desktop article.list section.task h1:hover {
            text-shadow: 0px 1px 0px #BEBEBE;
            -webkit-transition-property: text-shadow;
            -webkit-transition-duration: 0.3s;
        }









