<div id="desktop">
    {% for list in lists %}
        <article class="list" data-list-id="{{ list.id }}">
            <h1>{{ list.title }}</h1>
            <h2>{{ list.description }}</h2>
            {% for task in list.task_set.all %}
                <section class="task" data-task-id="{{ task.id }}">
                    <button class="no-style-button"><h1>{{ task.title }}</h1></button>
                    {% if task.description %}
                        <div class="task-moreinfo scrollable">
                            <p>{{ task.description }}</p>
                        </div>
                    {% endif %}
                </section>
            {% endfor %}
        </article>
    {% endfor %}
</div>
<div class="clear"></div>
